.patient-detail-card {
    background: #ebfcfc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(31, 2, 2, 0.2);
    text-align: left; 
    max-width: 350px;
    margin: 40px auto;
  }
  
  .patient-detail-card h2 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 22px;
  }
  
  .patient-detail-card p {
    font-size: 16px;
    margin: 8px 0;
    font-weight: 500;
  }
  
  .medical-records-btn {
    background-color: #A0F3F8;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
  .medical-records-btn:hover {
    background-color: #acf3f7;
  }
  
  .loading {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
  }